{% extends "base.html" %}

{% block css %} 
<style>
    .random-parrafo  {
        width: 50%; 
        display: flex;
        white-space: normal; 
        word-wrap: break-word; 
    }
</style>
{% endblock %}
{% block title %}Home{% endblock %}


{% block seccion_inicial %} 
<h2 class="fw-bold" id="intro">¡Bienvenidos al Hito 3!</h2>

<ul id="playlistsRecentes" class="mb-5">
    <li>
      <img src="static/assets/1.jpeg" :alt="playlist.nome">
      <span class="fw-semibold ms-3 me-auto">proyecto</span>
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
    </li>

    <li>
      <img src="static/assets/2.jpeg" :alt="playlist.nome">
      <span class="fw-semibold ms-3 me-auto">apps</span>
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
    </li>

    <li>
      <img src="static/assets/3.jpeg" :alt="playlist.nome">
      <span class="fw-semibold ms-3 me-auto">web</span>
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
    </li>

    <li>
      <img src="static/assets/4.jpeg" :alt="playlist.nome">
      <span class="fw-semibold ms-3 me-auto">para</span>
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
    </li>

    <li>
      <img src="static/assets/5.jpeg" :alt="playlist.nome">
      <span class="fw-semibold ms-3 me-auto">bases</span>
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
    </li>
    

    <li>
      <img src="static/assets/6.jpeg" :alt="playlist.nome">
      <span class="fw-semibold ms-3 me-auto">de datos</span>
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      
    </li>
    
  </ul>
<div class="random-parrafo">
<p class="limited-width">El objetivo de este hito es poder realizar consultas a las tablas creadas a través de una página web. Dado que ocupamos
    información de spotify, todas las consultas están relacionadas con música y artistas.
</p>
</div>
{% endblock %}


{% block seccion_2 %}
  <h4 class="mb-3"><a href="#"><b>Your top mixes</b></a></h4>
<a class="see-all" href="#">SEE-ALL</a>
  <br>
  <br> 
<ul class="playlists">
    <li>
      <img src="static/assets/7.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Pop Mix</span>
      <p><br>SHY Martin, Lauv, Sia and more</p>
    </li>

    <li>
      <img src="static/assets/8.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Chill Mix</span>
      <p><br>Lauv, Oh Wonder, The Chainsmokers and more</p>
    </li>

    <li>
      <img src="static/assets/9.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Moody Mix</span>
      <p><br>Charlie Puth, Oh Wonder, Alec Benjamin and more</p>
    </li>

    <li>
      <img src="static/assets/10.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Latin Mix</span>
      <p><br>Timothy Infinite, Shakira and more</p>
    </li>

    <li>
      <img src="static/assets/11.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Hindi Mix</span>
      <p><br>Ritviz, Nuclea, Atif Aslam and more</p>
    </li>

    <li>
      <img src="static/assets/12.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>2010s Mix</span>
      <p><br>The Fat Rat, Alan Walker, The Chainsmokers and more</p>
    </li>
  </ul>
{% endblock %}

{% block seccion_3 %} 
  <h4 class="mb-3"><a href="#">Recently Played</a></h4>
  <a class="see-all" href="#">SEE-ALL</a>
  <br>
  <br>
<ul class="playlists">
    <li>
      <img src="static/assets/1.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>sleep deprived</span>
      <p><br>i'll tell you a story before it tells itself</p>
    </li>

    <li>
      <img src="static/assets/2.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>adrenaline rush</span>
      <p><br>for the night when you've piled up everything and it's deadline tomorrow</p>
    </li>

    <li>
      <img src="static/assets/3.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>impulse</span>
      <p><br>⚠️ the neighbors are gonna call the cops</p>
    </li>

    <li>
      <img src="static/assets/4.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>sixth gear</span>
      <p><br>nothings gonna stop me now (lol, idk how to drive yet)</p>
    </li>

    <li>
      <img src="static/assets/5.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>3:14 am</span>
      <p><br>and thoughts of past and future kept him awake</p>
    </li>

    <li>
      <img src="static/assets/6.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>serenity</span>
      <p><br>is it tears or just the pouring rain?</p>
    </li>
  </ul>
{% endblock %}

{% block seccion_4 %} 

{% endblock %}

{% block seccion_5 %} 
<ul class="playlists">
    <li>
      <img src="static/assets/moodbooster.jpg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Mood Booster</span>
      <p><br>Get happy with today's dose of feel-good songs!</p>
    </li>

    <li>
      <img src="static/assets/feelinggood.jpg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Feelin' Good</span>
      <p><br>Feel good with this positively timeless playlist!</p>
    </li>

    <li>
      <img src="static/assets/dark&stormy.jpg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Dark & Stormy</span>
      <p><br>Beautifully dark, dramatic tracks.</p>
    </li>

    <li>
      <img src="static/assets/feelgoodpiano.jpg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Feel Good Piano</span>
      <p><br>Happy vibes for an upbeat morning.</p>
    </li>

    <li>
      <img src="static/assets/feelingmyself.jpg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Feelin' Myself</span>
      <p><br>The hip-hop playlist that's a whole mood. Art By Laci Jordan; Cover: Lakeyah</p>
    </li>

    <li>
      <img src="static/assets/chilltracks.jpeg">
      <button type="button" class="btn me-3"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
          <path
            d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
          </path>
        </svg></button>
      <span>Chill Tracks</span>
      <p><br>Softer kinda dance.</p>
    </li>
{% endblock %}


{% block content %}

<div class="main-container">


</div>

{% endblock %}


{% block js %} 
<script src="{{url_for('static', filename = 'js/script.js')}}"></script> 
{% endblock %}